<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<meta charset="UTF-8"/>
	<title>азбука знаний</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='ss.css') }}">
	</head>
	<body>
		<section>
			<h1 id="mm"> "АЗБУКА ЗНАНИЙ"</h1>
		</section>
		<ul>
			<li><a href="sait.html">ГЛАВНАЯ</a></li>
			<li><a href="news.html">НОВОСТИ</a></li>
			<li><a href="post.html">ПОСТУПЛЕНИЕ</a></li>
			<li><a href="c.html">КОНТАКТЫ</a></li>
			<li><a href="ds.html">ДОШКОЛЬНОЕ ОБРАЗОВАНИЕ</a></li>
			<li><a href="st.html">СТОИМОСТЬ</a></li>
		</ul>
	</body>
</html>
